.ipynb_checkpoints/
.idea/
.venv/

Deep_learning_hse/seminars/sem05/PetImages/

Deep_learning_hse/seminars/sem06/train/

Deep_learning_hse/seminars/sem06/PennFudanPed/

Deep_learning_hse/seminars/sem06/train_masks/

Deep_learning_hse/seminars/sem06/imagenet-mini/

Deep_learning_hse/seminars/sem06/__MACOSX/
